/* Component: users page */
#add-friend-page, #add-friend-results{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 100%;    
}

#add-friend-page #search-bar {
    display: table;
    margin-bottom: 2em;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

#add-friend-page #user-search-input{
    border-width: 0 0 1px 0;
    border-color: black;
    background: none;
    outline: none;
    color: black;
    margin: 0 0.5em 0 0;
    width: 255px;
}


/* Component: user card */
.user-card{
    width: 60%;
    align-items: flex-start;

}
    .user-image{
        padding-top: 0.5em;
        width: 100px;
        display: flex;
        min-height: 150px;
        justify-content: center;
        background-color: inherit;
        align-items: flex-start;
    }
        .user-picture{
            max-width: 90px;
        }
    .user-info{
        padding-top: 0.5em;
        text-align: left;
        width: auto;
        flex: 1;
        padding-left: 0.5em;
    }

        .line-clamp-1{
            overflow: hidden;
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .send-button{
            margin: 0 0.5em 0.5em 0 
        }