/* Component: friends page */
#friends-page{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 100%;    
}

/* Component: users page */
#friends-page, #add-friend-results{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 100%;    
}

#friends-page #search-bar {
    display: table;
    margin-bottom: 2em;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

#friends-page #user-search-input{
    border-width: 0 0 1px 0;
    border-color: black;
    background: none;
    outline: none;
    color: black;
    margin: 0 0.5em 0 0;
    width: 255px;
}


#friends-page .friend-card{
    width: 60%;
    display: flex;
    flex-flow: row;
    margin-bottom: 0.5em;
}

#friends-page .friend-card:hover,
#friends-page .friend-card:focus{
    background-color: rgb(245, 249, 253);
    border: 1px solid rgba(10, 98, 211, 0.5);
}

#friends-page .friend-image-container{
    margin-top: 0.2em;
    flex: 0 1 90px;
    background-color: inherit;
}

#friends-page .friend-image{
    max-width: 90px;
}

#friends-page .friend-info{
    flex: 1 1;
    padding-top: 1em;
    text-align: left;
    display: flex;
    flex-flow: column;
    height: inherit;
    margin: 0 0.5em 0 0.5em;
}

#friends-page .line-clamp-1{
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

#friends-page .remove-link{
    display: flex;
    flex: 1 1 auto;
    width: auto;
    justify-content:flex-end;
    align-items: flex-end;
    margin: 0.5em 1em 1em 1em
}

@media screen and (max-width: 586px) {
    #friends-page .friend-card{
        width: 90%;
        flex-direction: column !important;
        justify-content: center;
    }
    #friends-page .friend-info{
        text-align: center;
    }
    #friends-page .remove-link{
        justify-content: center;

    }
}