/* Component: requests page */
#requests-page{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 100%;     
}

/* Component: request card */
#requests-page .request-card{
    width: 60%;

}
    #requests-page .request-image{
        margin-top: 0.2em;
        flex: 0 1 131.5px;
    }
        #requests-page .request-picture{
            
            max-width: 90px;
        }
     #requests-page .request-info{
        flex: 1 1 auto;
        padding-top: 0.5em;
        text-align: left;
        width: auto;
        height: inherit;
        display: flex;
        flex-flow: column;
    }

        #requests-page .line-clamp-1{
            overflow: hidden;
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        #requests-page .request-links {
            display: flex;
            flex: 1 1 auto;
            width: auto;
            height: auto;
            justify-content:flex-end;
            align-items: flex-end;
            margin-right: 1em;
        }

        #requests-page ul{
            list-style: none;
            
        }

        #requests-page button{
            text-decoration: none;
        }
        #requests-page ul > li {
            display: inline-block;
            /* You can also add some margins here to make it look prettier */
            zoom:1;
            *display:inline;
            /* this fix is needed for IE7- */
            margin-right: 1em;
        }