#home-page{
    margin: 0px !important;
    padding: 1em 0px 5em 0px !important;
}

#home-page .home-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#home-page .empty-col{
    width: 8%;
}
#home-page .left-col{
    flex: 1
}
#home-page .right-col{
    width: 32%;
}
@media screen and (max-width: 568px) {
    #home-page .home-container {
        flex-flow: column-reverse wrap;
        justify-items: center;
    }
    #home-page .empty-col{
        width: 0;
    }
    #home-page .left-col{
        width: 100%;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #home-page .right-col{
        width: 100%;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #homepage #recent-updates{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #home-page #top-books{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 0;
    }
    #home-page #my-stats{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 0;
    }
    #home-page #news{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 0;
    }
}

#home-page .top-books .recent-books{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.updates-title{
    max-height: fit-content;
    text-align: center;
    display: flex;
    width: 100%;
}

#home-page .animated-underline {
    display: block;
    position: relative;
    padding: 0.2em 0;
    width: 100%;
}

/* Fade in*/
#home-page .animated-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    
    /* background-color: rgb(223, 223, 223); */
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

/* Slide in */
#home-page .slide-in {
    overflow: hidden;
}
  
#home-page .slide-in::after {
    opacity: 1;
    transform: translateX(-100%);
    background: linear-gradient(to right, #6cb8ea, #29d0be, #e1f549, #ff5959); 
}
  
#home-page .slide-in:hover::after,
#home-page .slide-in:focus::after{
    transform: translateX(0%)
}

/* Scale from center */
#home-page .from-center::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    background: linear-gradient(to right, #e1f549, #29d0be, #6cb8ea, #ff5959);
  }
  
  #home-page .from-center:hover::after,
  #home-page .from-center:focus::after{
    transform: scale(1);
  }