.profile-picture-page{
    width: 100%;
}
.profile-picture-wrapper{
    margin: 2em 0 2em 0;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 450px;
    max-width: 100%;
    border: 2px solid rgb(206, 206, 206);
    background-color: rgba(240, 240, 240, 0.644);
    padding: 2em;
}


.save-button{
    margin-top: 2em;
}

.picture-button{
    margin: 1em 0.5em 0 0.5em;
}

.picture-container{
    align-items: center;
    text-align: center;
    display: block;
}

.picture-form-container{
    margin-top: 1em;
}
.profile-picture{
    max-width: 255px;
    max-height: 350px;
}